.download{
    float: left;    
    padding: 2px 10px;
    text-decoration: none;
    color: black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px black solid;
    margin: 0px 15px 0px 15px;
}
.download:hover{
    color: white;
    background-color: black;
}
#download_db{
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 42px;
}
#download_btns{
    width: 150px;
    margin: 3px auto;
}
#search_div{
    float: right;
    margin-right: 15px;
}
#search_desc{
	float: right;
	padding-top: 4px;
}
#search{
	margin-right: 0px;
	float: right;
}
#search_img{
	float: right;
	padding-top: 3px;
}
#search_img:hover{
	cursor: pointer;
}
.prijavi{
    padding: 2px 10px;
    text-decoration: none;
    color: black;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px black solid;
    margin: 10px 0px;
}
.prijavi:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
.kopchninja{
    padding: 5px 0 5px 0;
    float:left;
    width: 960px;
    text-align: center;
}
#tabela
{
	background: #fff;
	width: 922px;
	border-collapse: collapse;
	text-align: left;
}
#tabela tr{
    border-bottom: 1px solid #6678b1;
}
#tabela td
{
	padding: 3px 0 3px 0;
}
#tabela tbody tr:hover td
{
	color: black;
        font-weight: bold;
        cursor: pointer;
}
#naslovi{
    margin-left: 7px;
}
#naslovi a
{
    display: block;
    float: left;
    color: #666666;
    text-decoration: none;
}
#naslovi a:hover{
    color: black;
    font-weight: bold;
}
#id{
    padding-left: 10px;
    width: 40px;
}
#tip{
    width: 85px;
}
#grad{
    width: 70px;
}
#adresa{
    width: 170px;
}
#datum_bilten{
    width: 85px;
}
#datum{    
    width: 80px;
}
#lat{
       width: 70px;
}
#lng{
    width: 170px;
}
#opis{
}
div.scroll {
    float: left;
    height: 540px;
    width: 939px;
    margin-left: 7px;
    overflow: auto;
    border: 1px solid #666;
    background-color: #ccc;
    padding: 0;
}
.id{
    width: 3em;
    padding-left: 1em;
}
.shto{
    width: 6em;
}
.grad{
    width:6em;
    padding-left: 1.1em;
}
.datum{
    width:6em;
    padding-left: 0.9em;
}
.lat{
    width:5em;
    padding-left: 0.4em;
}
.lng{
    width:5em;
    padding-left: 1em;
}
.opis{
}
.str{
    padding: 5px 0 5px 0;
    float:left;
    width: 960px;
}
.str div{
    text-align: center;
}
.str a{
    text-decoration: none;
    color: black;
    margin: 3px;
    padding: 2px 2px 2px 3px;
    border: solid 1px #666;
}
.str a:hover{
    background-color: black;
    color: white;
}
.str a.tekovna{
    color: white;
    background-color: black;
}
.str a.tekovna:hover{
    color: black;
    background-color: white;
}
.str a.ne_moze{
    color: white;
}
.str a.ne_moze:hover{
    color: white;
    background: none;
}
tr.select_red{
    color: black;
    background-color: darkgray;
    font-weight: bold;
}
#dialog-brishi, #dialog-formular{
    display: none;
    font-size: 14px;
    padding-bottom: 34px;
}
#formular input, textarea{
    width: 250px;
}
#logo_h1{
    float:left;
    font-family: AlexaScript, Helvetica, Arial, sans-serif;
    padding: 32px 0 32px 0;
    margin:0;
}
#logo_img{
    float:left;
}
ul{
    list-style: none;
}
#ul_menu {
    padding: 0 0 0 10px;
    margin: 0;
}
#ul_menu li{
    float:left;
    padding-right: 12px;
}
#ul_menu li a{
    cursor: pointer;
    text-decoration: none;
    color: #666666;
}
/*
    Document   : main
    Created on : 31.3.2012, 14:10:
    Author     : Damjan
    Description:
        Purpose of the stylesheet follows.
*/
body{
    height: 100%;
    margin:0 auto;
    width: 960px;
    background-image: url('../img/finki_back.jpg');
    color: #666666;
    font: 12px/16px Calibri,Arial,Tahoma,Helvetica,sans-serif;
}
.middle{
    background-image: url('../img/inner-type-two-middle-bg.png');
    float: left;
}
.top{
    background-image: url('../img/inner-type-two-top-bg.png');
    height: 23px;
    float: left;
    width: 100%;
}
.bottom{
    background-image: url('../img/inner-type-two-bottom-bg.png');
    height: 23px;
    float: left;
    width: 100%;
}
.formular_lat_lng{
    display: block;
    margin: 10px 0;
}
