#stoi, #treba{
    float: left;
    border: solid 1px black;
    border-collapse: collapse;
    text-align: right;
    width: 330px;
    margin: 2px;
}
#stoi tr, #treba tr{
    border-bottom: solid 1px black;    
}
#stoi td, #treba td{
    padding: 3px 0px 3px 0px;
}
#stoi th, #treba th{
    text-align: center;
}
#naslovi div{
    float:left;
}