RewriteEngine On
RewriteRule ^filtered/(en|mk|sq)$ view/crime_map.php?l=$1
RewriteRule ^home/(en|mk|sq)?(.*)$ view/crime_map.php?l=$1&doma=1 [L,QSA]
RewriteRule ^all/(en|mk|sq)$ view/crime_map.php?l=$1&a=1 [L,QSA]
RewriteRule ^filter/(en|mk|sq)$ view/filter.php?l=$1
RewriteRule ^data/(en|mk|sq)?(.*)$ view/data.php?l=$1$2 [L,QSA]
RewriteRule ^contact/(en|mk|sq)$ view/contact.php?l=$1
RewriteRule ^about/(en|mk|sq)$ view/about.php?l=$1
